.flex-caption {
    width: 100%;
    padding: 2%;
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);

}

h3.flex-caption-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.home {
    padding: 20px 10px;
}

.home ul {
    list-style: circle outside;
    padding: 0 40px;
}

.home li {
    padding-bottom: 5px;
}

.title {
    margin-bottom: 1em;
}

.page-title {
    font-family: Bitter, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: rgb(50 50 50);
    font-size: 20px;
}

.page {
    line-height: 1.25;
    color: rgb(50 50 50);
}

.page strong {
    font-weight: bold;
}

.page em {
    font-style: italic;
}

.center_text {
	text-align: center;
}
