/* Custom css for jhkennedy.org */

.field-name-field-attachment {
	width: 100%;
	float: none;
	padding-top: 50px;
}


/*general class to center text*/
.center_text {
	text-align: center;
}

/*CSS for CV*/
.cv {
	width: 100%;
	overflow: auto;
}

.cv .section {
	width: 20%;
	float: left;
	font-variant: small-caps;
	padding-top: 20px;
}

.cv .content {
	width: 80%;
	float: left;
	padding-top: 20px;
}

.cv .content .address {
	width: 50%;
	float: left;
}


.cv .content .contact {
	width: 50%;
	float: left;
}

.cv .content ul.education {
	padding-bottom: 20px;
}

.cv .content dl.computer-skills {
	float: left;
	width: 100%;
}

.cv .content dt.computer-skills {
	clear: left;
	float: left;
	width: 25%;
	padding: 0 0 5px 0;
}

.cv .content dd.computer-skills {
	float: left;
	width: 75%;
	text-wrap: unrestricted;
	padding: 0 0 5px 0;
}

